@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: 'Roboto', sans-serif;
	font-size: .875rem;
	line-height: 1.4;

	padding: 0.5em 1em;
	background-color: #920102;
	min-width: 10em;
	text-align: center;
	border-radius: .75em;
}

.play-buttons {
	display: block;

	font-family: 'Roboto', sans-serif;
	font-size: .875rem;
	line-height: 1.4;

	padding: 0.5em 1em;
	background-color: #920102;
	height: 60px;
	width: 60px;

/*centers button text*/
	text-align: center;
	vertical-align: middle;
	display:table-cell;

	justify-content: center;
	border-radius: 50%;
  	box-shadow: 0 2px 4px darkslategray;
}

.play-button {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-color: #202020;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #920102;
}