@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: 'Roboto', sans-serif;
	font-size: .875rem;
	line-height: 1.4;

	padding: 0.5em 1em;
	background-color: #920102;
	min-width: 10em;
	text-align: center;
	border-radius: .75em;
}
