/* SETUP */

@import "meyer-reset.css";

* {
	box-sizing: border-box;
}

picture {
  display: block;
  /* inline by default (browser's choice) */
 }

img {
	display: block; /* it's inline-block by default */
	width: 100%;
	height: auto;
}

nav a {
	display: inline;
	text-decoration: underline;
	color: inherit;
	padding: 10px;
}
	/* remove default link styles */
	/* set links to be blocks so you can wrap things */

.home .inner-column p {
	margin-top: 25px;
}

p a {
	display: inline;
	color: blue;
	text-decoration:underline;
	/* keep links "normal" inside paragraphs	*/
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4,p,ul,li {font-size: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}


.inner-column {
	max-width: 700px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #FFA500;
	font-family: courier;
	line-height: 2em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

product-card {
	display: block;
	padding: 10px;
	line-height: 1.7;
	border: 5px solid white;
}

/*any product preceded by a product gets margin*/
.product + .product {
	margin-top: 30px;
}

picture + p {
	margin-top: 30px;
}

/*form*/

.input-boxes {
	display:	flex;
	flex-direction: column;
	gap: 10px;
	width: 400px;
}

button {
	border-radius: 12px;
	padding: 10px;
	margin-top: 20px;
	background-color: indianred;
	font-size: 20px;
}

.title {
	margin-bottom: 10px;
}



/*colors*/
.site-header {
	background-color: #007BFF;
	border: 5px solid #FFFFFF;
}

.site-footer {
	background-color: #007BFF;
	border: 5px solid #FFFFFF;
}

body {
	background-color: #FFA500;
}

.error {
	color: red;
	font-weight: bold;
}

nav a {
	background-color: indianred;
	border-radius: 12px;
}



/* FOOTER */
.page-content {
	flex-grow: 1;
	/* must do this for sticky footer	*/
}




