graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10vh 0;
	min-height: 100vh;
}

graphic-diptych p {
	margin-top: 20px;
}

@media (min-width:  700px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}
}

.welcome {
	background-image: url("../../images/blue-dahlia.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.welcome inner-column {
	border-top: 10px solid #920102;
	border-bottom: 10px solid #920102;
}

