/* SETUP */

@import "meyer-reset.css";

* {
	box-sizing: border-box;
}

body {
	/*sticky footer settings*/
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding: 3px;
}

	/*building visuals	*/
body * {
	border: 1px solid black;
	padding: 10px;
}

picture, masthead, main-welcome, welcome-heading, welcome-text, main-action, action-heading, action-text, main-article, article-heading,
	article-text, articles, card-text, card-heading, card-link, footer-block {
  display: block;
  /* inline by default (browser's choice) */
 }

img {
	display: block; /* it's inline-block by default */
	width: 100%;
	height: auto;
}

a {
	display: block;
	text-decoration: underline;
	color: inherit;
}
	/* remove default link styles */
	/* set links to be blocks so you can wrap things */

p a {
	display: inline;
	color: blue;
	text-decoration:underline;
	/* keep links "normal" inside paragraphs	*/
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4,p,ul,li {font-size: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

.inner-column {
	max-width: 1000px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* small screen */

.page-content {
	display: flex;
	flex-direction: column;
}

masthead {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

masthead nav {
	display: flex;
	flex-direction: row;
}

/*.hello-img {
	max-width: 300px;
}*/

main-welcome {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main-action {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.articles, .article-list {
	display: grid;
	gap: 20px;
}

footer-block {
	display: flex;

}

/* FOOTER */
.page-content {
	flex-grow: 1;
	/* must do this for sticky footer	*/
}

.site-footer {
/*	background-color: transparent;*/
}




