

@import "meyer-reset.css";

* {
	box-sizing: border-box;
}

body {
	line-height:1.5;
}

h1 {
	font-size: 32px;
	font-family: georgia;
}

h2 {
	font-size: 1.5em;
	font-family: georgia;
}

h1, h2{
	color: #d7d1f8;
}

strong{
	font-weight:bold;
	font-size: 1em;
	margin-top: 1em;
	font-family: arial,sans-serif;
}

address {
	font-size: 1em;
	color: #d7d1f8;
}

p,ul,li {
	font-size: 1em;
	margin-top: 1em;
	font-family: arial,sans-serif;
	color: #d7d1f8;
}

ul {
	list-style-position: inside;
	list-style-type: square;
}



header, footer {
	background-color: #1f1379;
	background-image: linear-gradient(#1f1379, #b158ea);
}

main {
	background-image: linear-gradient(#1f1379, #b158ea);
}

header img {
	float:right;
}

footer img {
	float:right;
}

.inner-column {
	max-width: 72ch;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

.inner-column-main {
	max-width: 72ch;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #83ddc3;
}

.us,.educate,.products,.contact{
	padding-top: 10px;
}

.contact{
	padding-bottom: 15px;
}

.contact img{
	max-width: 100%;
	height: auto;
}

