.article-card {
	display: block;
	/*border: 4px solid red;*/

	display: flex;
	flex-direction: column;
}

.article-card text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-card a {
	margin-top: 20px;
}


.latest inner-column {
	border-top: 10px solid #920102;;
	border-bottom: 10px solid #920102;;
}

.article-card picture {
	width: 100%;
	height: 100%;
}


