/* SETUP */

@import "meyer-reset.css";

* {
	box-sizing: border-box;
}

html {
	background-color: rgba(159, 90, 253, 1);
}

/* colors */
.top-banner, .choices {
	background-color: rgba(213, 184, 255, 1);
}
	footer {
	background-color: rgba(90, 34, 139, 1);
}

picture {
  display: block;
  max-width: 100%;
  /* inline by default (browser's choice) */
 }

img {
 /* it's inline-block by default */
 	display: block;
	width: 100%;
	height: auto;
}


a {
	display: inline;
	text-decoration: underline;
	color: inherit;
}
	/* remove default link styles */
	/* set links to be blocks so you can wrap things */

p a {
	display: inline;
	color: blue;
	text-decoration:underline;
	/* keep links "normal" inside paragraphs	*/
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4,p,ul,li {font-size: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

/* positioning */


.inner-column {
	max-width: 70ch;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
/*	border: 3px solid blue;*/
}

.banner {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 30px;
}

.banner img {
	max-width: 50px;

}

.overview-1 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.overview-1 img {
	max-width: 300px;
}

.sec1, .sec2, .sec3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items:;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sec {
	display: flex;
	flex-direction:column;
	gap: 10px;
}

.sec1 img, .sec2 img, .sec3 img {
	max-width: 100px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 10px;
}

.sec1 img, .sec2 img, .sec3 img, .banner img {
	border-radius: 50%;
}

/* text formatting */

.banner {
	font-family: sans-serif;
}

.splash-cog, .sec1-cog {
	display: none;
}

/*break point medium*/

@media (min-width: 600px) {
	.overview-1 {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 10px;
	}

	.banner {
		gap: 80px;
	}

	.inner-column {
		max-width: 85ch;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
/*		border: 3px solid blue;*/
	}

	.overview-1 img {
		width: 700px;
	}

	.sec1, .sec2, .sec3 {
	/*	border: 3px solid green;*/
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		flex-wrap: ;
		gap: 10px;

	}

	.sec {
	/*	border: 3px solid red;*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: ;
		gap: 10px;

	}

	.sec1 img, .sec2 img, .sec3 img {
		max-width: 133px;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 10px;
	}


/* break point large */
@media (min-width: 900px) {

	.inner-column {
		max-width: 120ch;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
/*		border: 3px solid blue;*/
	}

	.banner {
		gap: 80px;
	}

	.overview-1 {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 10px;
	}

	.overview-1 img {
		width: 1000px;
	}

	.choices .inner-column {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sec1, .sec2, .sec3 {
		display: flex;
		flex-direction: column;
		justify-content: center ;
		align-items: center;
		margin: 10px;
	}


	.sec1 img, .sec2 img, .sec3 img {
		max-width: 133px;
		gap: 10px;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 10px;
	}

}














